In [ ]:
rm(list=ls())

In [ ]:
x<-3
y<-x*3
y