### Learning Objectives

By the end of this class, you should be able to:

1. Understand common Python data structures.
2. Apply CRUD operations to data structures.
3. Recognize use cases for data structures in data science.

CRUD

Create
Read
Update
Delete

## 1. Lists <a id="lists"></a>

In Python, lists are versatile and commonly used to store collections of items. You can create lists using square brackets `[]`. you can also use the list function: list()

lists are mutable, ordered, typically homogenous.

### Creating a Python List <a id="lists-create"></a>

In [ ]:
# creating a list using square brackets
shopping_list = ['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries']

In [ ]:
shopping_list

In [ ]:
# create a list using the list function
shopping_list2 = list(('Perfume', 'Soap', 'Tissue paper', 'Body cream'))

In [ ]:
shopping_list2

In [ ]:
type(shopping_list2)

In [ ]:
# create a list using the list function
shopping_list3 = list(['Perfume', 'Soap', 'Tissue paper', 'Body cream'])

In [ ]:
shopping_list3

In [ ]:
shopping_list4 = []

### Reading a List <a id="lists-read"></a>

In [ ]:
print(shopping_list3[0])

In [ ]:
# slicing a list: first two items

print(shopping_list3[0:2])

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers[::2]

In [ ]:
numbers[-1]

### Updating a List <a id="lists-update"></a>

In [ ]:
dir(shopping_list4)

In [ ]:
shopping_list4.append('Soap')

In [ ]:
shopping_list4.append('Perfume')

In [ ]:
print(shopping_list4)

In [ ]:
shopping_list4.insert(0, 'Tissue Paper')

In [ ]:
print(shopping_list4)

In [ ]:
shopping_list4.extend(['Groceries', 'Cocacola', 'Milo', 'Bama', 'Floating Berries'])

In [ ]:
print(shopping_list4)

In [ ]:
# removing items from a list: remove, pop

In [ ]:
shopping_list4.pop()

In [ ]:
print(shopping_list4)

In [ ]:
shopping_list4.remove('Soap')

In [ ]:
print(shopping_list4)

In [ ]:
shopping_list.update??

### Delete

In [ ]:
shopping_list4.clear()

In [ ]:
print(shopping_list4)

### List: Use Cases in Data Science <a id="lists-use-cases"></a>

### Use Case: Storing and Manipulating Datasets

#### Background

In data science, we often work with datasets that contain various types of information, such as numerical values, text data, or categorical variables. Python lists provide a convenient way to store and manipulate these datasets.

#### Scenario

Suppose we have collected data on the monthly sales revenue (in thousands of dollars) for a small retail store over the past year. The dataset includes sales data for each month. We want to use a Python list to store and analyze this dataset.

#### Implementation

Let's create a Python list called `monthly_sales` to store our dataset. Each element in the list represents the monthly sales revenue for one month, starting from January (index 0) to December (index 11).

```python
# Creating a list to store monthly sales data
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [ ]:
monthly_sales = [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220]

In [ ]:
total_yearly_revenue = sum(monthly_sales)

In [ ]:
print(total_yearly_revenue)

In [ ]:
# avg = total/no. of total

average_revenue = total_yearly_revenue / len(monthly_sales)

In [ ]:
print(round(average_revenue, 1))

### Assignment

1. From the list (monthly_sales) above,
- create four seperate lists frm the list for each quarter namely: q1, q2, q3, q4.
- report what quarter had the highest amount in total revenue,
- report the lowest.

In [ ]:
# Your code here
q1=monthly_sales[:3]
q2=monthly_sales[3:6]
q3=monthly_sales[6:9]
q4=monthly_sales[9:]
quarter_revenue=[sum(q1),sum(q2),sum(q3),sum(q4)]
print("Quarter Revenue for q1, q2, q3, q4 respectively = ", quarter_revenue)
print("q4 has the highest amount in total revenue which is =",max(quarter_revenue))
print("q1 has the lowest amount in total revenue which is =",min(quarter_revenue))

2. Store the names of a few of your friends in a list called names.
- Print each person’s name by accessing each element in the list, one at a time.
- Start with the list you created, but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name. hint(use may use f-strings)

In [ ]:
# Your code here
names=['Ade', 'Shola', 'Chukwudi', 'Hassan']
for name in names:
    print(f"Hi {name}, whats up?")

3. You are managing a list of students' names in your class.
* Create a list called student_names containing the following student names as strings: 'Alice', 'Bob', 'Charlie', 'David', 'Eve'.
- Use the student_names list from the list above for the following operations:
  - a. Print the number of students in the class (the length of the list).
  - b. Print the first and last student names in the list.
  - c. Charlie has left the class. Remove his name from the list.
  - d. A new student, "Frank," has joined the class. Add his name to the list.
  - e. The class has been dissolved, and you need to remove all student names from the list.

In [ ]:
# Your code here
student_names=['Alice', 'Bob', 'Charlie', 'David', 'Eve']
print(len(student_names))
print('The first student name is',student_names[0])
print('The first student name is',student_names[-1])
student_names.remove('Charlie')
print(student_names)
student_names.append('Frank')
print(student_names)
student_names.clear()
print(student_names)

## 2. Tuples <a id="tuples"></a>

### Create <a id="sets-create"></a>

Creating a tuple is done by defining a sequence of elements enclosed in parentheses.

In [ ]:
person = ('Sunday', 'Data Science', 'Fall Session')

In [ ]:
person2 = 'Victoria', 'Data Science', 'Fall Session'

In [ ]:
print(type(person))

In [ ]:
type(person2)

In [ ]:
# create a tuple using the tuple function

person_tuple = tuple(['Victoria', 'Data Science', 'Fall Session'])

In [ ]:
person_tuple

### Read <a id="sets-read"></a>

Reading from a tuple is straightforward by accessing its elements using indexing.

In [ ]:
person2[0]

In [ ]:
person2[:2]

### Update <a id="sets-update"></a>

Tuples are immutable, so you cannot directly update them. To "update," you need to create a new tuple.

In [ ]:
person3 = ('Chibuike', person[1], person[2])

In [ ]:
person3

### Delete <a id="sets-delete"></a>

Like sets, you can delete a tuple using the del statement.

In [ ]:
del person

In [ ]:
person

### Tuples: Use Cases in Data Science <a id="tuples-use-cases"></a>

- Immutability: Tuples are immutable, which means their values cannot be changed after creation. They are suitable for representing data that should not be modified, like record data.
- Data Integrity: Tuples can be used to ensure data integrity, as their immutability prevents accidental changes.
- Multiple Values: Tuples are often used to store multiple related values together, such as (latitude, longitude) pairs for geographical data.
- Function Return Values: Tuples are frequently used to return multiple values from functions, making it easy to process and unpack results.

## 3. Sets <a id="sets"></a>

Sets are a great data type that is used for pretty specific situations. You will find sets most useful for
de-duplicating lists or tuples or by using them to find differences between multiple lists

### Create <a id="sets-create"></a>

In [ ]:
# using curly braces
my_set = {'a', 'b', 'b', 'c', 'd', 'd'}

In [ ]:
print(my_set)

In [ ]:
# using the set function
person_list = ['Chibuike', 'Data Science', 'Fall Session']
person_set = set(person_list)

print(person_set)

### Read <a id="sets-read"></a>

You can access items in sets much faster than lists. A Python list will iterate over each item in a
list until it finds the item you are looking for. When you look for an item in a set, it acts much like
a dictionary and will find it immediately or not at all.

In [ ]:
# using the in operator
'Fall Session' in person_set

In [ ]:
# can we use indexing to get an item from the set?

person_set[0] # sets are unordered.

### Update <a id="sets-update"></a>

In [ ]:
# using the add method to update a set
person_set.add('First Semester')

In [ ]:
person_set

In [ ]:
# using the update method to add multiple items
person_set.update(['Circle 113', 'Python'])

In [ ]:
print(person_set)

In [ ]:
# using the remove method
person_set.remove('Python')

In [ ]:
print(person_set)

In [ ]:
# using pop and discard method
person_set.discard('Circle 113')

In [ ]:
print(person_set)

In [ ]:
person_set.pop()

### Delete <a id="sets-delete"></a>

In [ ]:
# using the del keyword deletes the set
del person_set

In [ ]:
person_set

In [ ]:
# using the clear method empties out the set
my_set.clear()

In [ ]:
my_set

In [ ]:
my_set.add('4')

In [ ]:
my_set = {'Toyin', 'Data Science'}

In [ ]:
my_set

### Set operations <a id="sets-operate"></a>

- union() - Combines two sets and returns a new set
- intersection() - Returns a new set with the elements that are common between the two sets
- difference() - Returns a new set with elements that are not in the other set

In [ ]:
first_set = {'python', 'ruby', 'javascript', 'pandas', 'numpy'}
second_set = {'pandas', 'numpy', 'seaborn'}

In [ ]:
first_set.union(second_set)

In [ ]:
first_list = list(first_set)

In [ ]:
first_list[0] = 'keras'

In [ ]:
first_list

In [ ]:
first_tuple = tuple(first_list)

In [ ]:
first_set = set(first_tuple)

In [ ]:
first_set

In [ ]:
second_set

In [ ]:
first_set.intersection(second_set)

In [ ]:
first_set.difference(second_set)

### Sets: Use Cases in Data Science <a id="sets-use-cases"></a>

- Removing Duplicates: Sets are unordered collections of unique elements. They are often used to remove duplicates from data, ensuring that only unique values are retained.

In [ ]:
data = [1, 2, 2, 3, 4, 4, 5]
unique_data = set(data)

- Membership Testing: Sets are efficient for checking whether an element is present in a dataset or not. This can be useful for filtering and data validation.

- Set Operations: Sets support set operations like union, intersection, and difference, which are valuable for data manipulation and analysis.

## 4. Dictionaries <a id="dictionaries"></a>

Dictionaries are another fundamental data type in Python. A dictionary is a (key, value) pair. Some
programming languages refer to them as hash tables. They are described as a mapping that maps
keys (hashable objects) to values (any object). Immutable objects are hashable (immutable means
unable to change).

### Creating a dictionary <a id="dictionaries-create"></a>

In [ ]:
# using curly braces and inserting key, value pairs
student = {'firstname': 'Joshua',
           'lastname': 'Ohayi',
           'cirle': 113}

In [ ]:
type(student)

In [ ]:
# using the dict function and passing a list of tuples
student2 = dict([('firstname', 'Akin-Johnson'), ('Cirle', 117), ('lastname', 'Oluwamayowa')])

In [ ]:
student2

### Reading through a Dictionary <a id="dictionaries-read"></a>

In [ ]:
# using the key
student['firstname']

In [ ]:
# using the in keyword
'firstname' in student

In [ ]:
'fav_food' in student

In [ ]:
# checking all items :dict.items()
student.items()

In [ ]:
# checking all values :dict.values()
student.values()

In [ ]:
# using the get method to retrieve the value of a key in a dictionary
# returns 'Not Available' if key is not in the dictionary else it returns the value.
student.get('fav_drink', 'Not Availble')

### Updating a Dictionary <a id="dictionaries-update"></a>

In [ ]:
# re assign the value by accessing the key if the key isnt available, a new k:v pair is created
student['fav_food'] = 'Groceries'

In [ ]:
student

In [ ]:
# using the update method.

In [ ]:
# using the pop method to remove a k:v pair
student.pop('cirle')

In [ ]:
student

In [ ]:
# using the popitem method
student.popitem()

In [ ]:
old_key = 'firstname'
new_key = 'alias'

student[new_key] = student.pop(old_key)

In [ ]:
student

### Deleting a Dictionary <a id="dictionaries-delete"></a>

In [ ]:
del student['circle']

In [ ]:
student

In [ ]:
revenue = {'months':['jan', 'feb', 'mar',
                    'apr', 'may','jun', 'jul',
                    'aug', 'sept', 'oct',
                    'nov', 'dec'],
          'monthly_sales': [120, 135, 150, 145, 155, 160, 170, 180, 190, 200, 210, 220] }

In [ ]:
revenue

### Dictionaries: Use Cases in Data Science <a id="dictionaries-use-cases"></a>

## 5. DataFrames

2-dimensional structures for handling tabular data

In [ ]:
import pandas as pd

In [ ]:
revenue_df = pd.DataFrame(revenue)

In [ ]:
revenue_df

## Exercises

1. a) Create a dictionary representing a library catalog. The keys should be book titles, and the values should be the corresponding authors. Allow the user to input a book title and display the author's name.

   b) Extend the library catalog program to allow users to add new books to the catalog by providing the title and author.

In [ ]:
Library = {'Statistics':'Gupta', 
           'Mathematics':'Bello', 
           'Road to Science':'Newton',
            'Economy Agenda':'Orji'}
print('Book Title = Statistics, Mathematics, Road to Science, Economy Agenda' )
User_input=str(input('Enter book title from the above list to get Author', ))
print(f"The author of {User_input} is",Library[User_input])

2. Create a dictionary that represents a dataset of 10 students' and thier test scores (4 courses). The keys should be dictionaries bearing student names, in the nested dictionary, let the keys represent a course and the value a score for that course. Allow the user to input a student's name and display their average test score.

   Create a DataFrame from the student test scores dictionary using pandas. Display the DataFrame to the user.

In [ ]:
import pandas as pd

student_scores = {
    "Shade": {"Math": 5, "Science": 0, "Econs": 8, "Eng": 2},
    "Kola": {"Math": 2, "Science": 8, "Econs": 6, "Eng": 9},
    "Ade": {"Math": 8, "Science": 4, "Econs": 2, "Eng": 7},
    "Tom": {"Math": 1, "Science": 7, "Econs": 9, "Eng": 5},
    "Mary": {"Math": 6, "Science": 2, "Econs": 8, "Eng": 1},
    "Peace": {"Math": 0, "Science": 4, "Econs": 5,"Eng": 1},
    "Joy": {"Math": 3, "Science": 1, "Econs": 8, "Eng": 5},
    "Akin": {"Math": 4, "Science": 3, "Econs": 7, "Eng": 4},
    "Hassan": {"Math": 5, "Science": 2, "Econs": 1, "Eng": 5},
    "Chuks": {"Math": 3, "Science": 6, "Econs": 7, "Eng": 9}
}
student_name=str(input('Enter Student name: '))
scores = student_scores.get(student_name)
total_score = sum(scores.values())
num_courses = len(scores)
average_score= total_score / num_courses
print(f"The average test score for {student_name} is: {round(average_score, 1)}")

In [ ]:
student_df = pd.DataFrame(student_scores)

print("\nDataFrame of Student Test Scores:")
print(student_df)

3. Create a dictionary that represents an online store's inventory. The keys should be product names, and the values should be tuples containing the price and available quantity. Allow the user to input a product name, and display its price and availability.

    Extend the online store program to allow users to "purchase" products by specifying the product name and the quantity they want to buy. Update the inventory accordingly and display the total cost of the purchase.

In [ ]:
# Create the online store's inventory dictionary
inventory = {
    "Garri": (40.5, 50),
    "Agbado": (10.5, 100),
    "Cassava": (8.4, 75),
    "Ewa": (5.9, 30)
}
product_name=input("Enter Product Name: ")
product_info = inventory.get(product_name)
if product_info:
    price, available_quantity = product_info
    print(f"Product: {product_name}")
    print(f"Price per unit: #{round(price,1)}")
    print(f"Available Quantity: {available_quantity}")
else:
    print(f"Product '{product_name}' not found in the inventory.")

In [ ]:
#make purchase
product_name=input("Enter Product Name: ")
quantity=int(input("Enter Quantity Needed: "))
product_info = inventory.get(product_name)
if product_info:
    price, available_quantity = product_info
    if available_quantity >= quantity:
        total_cost = price * quantity
        print(f"You are purchasing {quantity} {product_name}(s) for #{round(total_cost,2)}")
        inventory[product_name] = (price, available_quantity - quantity)
        print(f"Updated Quantity: {available_quantity - quantity}")
    else:
        print(f"Insufficient quantity of {product_name} in stock.")
else:
    print(f"Product '{product_name}' not found in the inventory.")

In [ ]:
# User interaction with the online store

inventory = {
    "Garri": (40.5, 50),
    "Agbado": (10.5, 100),
    "Cassava": (8.4, 75),
    "Ewa": (5.9, 30)
}
while True:
    print("\nOnline Store Menu:")
    print("1. Check Product Price and Availability")
    print("2. Make a Purchase")
    print("3. Exit")
    choice = input("Enter your choice (1/2/3): ")

    if choice == "1":
        product_name = input("Enter the product name to check: ")
        product_info = inventory.get(product_name)
        if product_info:
            price, available_quantity = product_info
            print(f"Product: {product_name}")
            print(f"Price per unit: #{round(price,1)}")
            print(f"Available Quantity: {available_quantity}")
        else:
            print(f"Product '{product_name}' not found in the inventory.")
    elif choice == "2":
        product_name = input("Enter the product name to purchase: ")
        quantity=int(input("Enter Quantity to purchase: "))
        product_info = inventory.get(product_name)
        if product_info:
            price, available_quantity = product_info
            if available_quantity >= quantity:
                total_cost = price * quantity
                print(f"You are purchasing {quantity} {product_name}(s) for #{round(total_cost,1)}")
                inventory[product_name] = (price, available_quantity - quantity)
                print(f"Updated Quantity: {available_quantity - quantity}")
            else:
                print(f"Insufficient quantity of {product_name} in stock.")
        else:
            print(f"Product '{product_name}' not found in the inventory.")
    elif choice == "3":
        break
    else:
        print("Invalid choice. Please choose 1, 2, or 3.")

4. Create an empty dictionary to represent a glossary. Allow users to add new words and their definitions to the glossary.

    Implement a feature that lets users search for the definition of a word. If the word is not in the glossary, inform the user that the word is not found.

In [ ]:

glossary = {}

# Main program loop
while True:
    print("\nGlossary Menu:")
    print("1. Add a Word and Definition")
    print("2. Search for a Definition")
    print("3. Exit")
    Option = input("Enter your option (1/2/3): ")

    if Option == "1":
        word = input("Enter a new word: ")
        definition = input("Enter the definition: ")
        glossary[word] = definition
        print(f"Added '{word}' to the glossary with the definition: {definition}")
    elif Option == "2":
        word = input("Enter the word to search for: ")
        definition = glossary.get(word)
        if definition:
            print(f"Definition of '{word}': {definition}")
        else:
            print(f"'{word}' not found in the glossary.")
    elif Option == "3":
        break
    else:
        print("Invalid option. Please choose 1, 2, or 3.")